meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title= title
link(href="/css/fa.min.css", rel="stylesheet")
link(href="/css/bootstrap.min.css", rel="stylesheet")
link(href="/css/base-bootstrap.css", rel="stylesheet")
link(href="/css/animate.css", rel="stylesheet")
link(href=`/css/${css}.css`, rel="stylesheet")
script(src="/js/jquery-3.4.1.min.js")
script(src="/js/popper.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/wow.min.js")