#update-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-body
				form(action="/api/update", method="post", name="upForm", enctype="multipart/form-data", onsubmit="return onSend(this)")
					input(type="hidden", name="id")
					input(type="hidden", name="page", value=`${pager.page}`)
					table.table.table-hover
						tbody
							tr
								td.bg-dark.text-light.text-center 작성자
								td
									input.form-control(name="writer")
							if !loginUser
								tr
									td.bg-dark.text-light.text-center 비밀번호
									td
										input.form-control(name="pw", type="password")
										span.text-danger * 글 작성시 입력한 비밀번호를 넣어주세요.
							tr
								td.bg-dark.text-light.text-center 내용
								td 
									textarea.form-control(name="comment", style="height: 200px;")
							tr.img-tr.d-none
								td.bg-dark.text-light.text-center 첨부이미지
								td
									img.w-100(style="max-width:350px;")
							tr.file-tr.d-none
								td.bg-dark.text-light.text-center 첨부파일
								td
									a
							tr
								td.up-td.bg-dark.text-light.text-center.d-none 첨부파일
								td
									input.form-control-file(type="file" name="upfile")
									span.text-danger * 첨부파일을 변경하시려면 추가하세요.
					.my-3.text-center
						button.btn.btn-success 수정
						button.btn.btn-danger(type="button", onclick="onReset();") 다시작성
			.modal-footer.justify-content-center
				button#bt-close.btn.btn-primary(data-dismiss="modal") 닫기