#gbook-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-body
				table.table.table-hover
					tbody
						tr
							td.bg-dark.text-light.text-center 작성자
							td 
						tr
							td.bg-dark.text-light.text-center 작성일
							td 
						tr
							td.bg-dark.text-light.text-center 내용
							td 
								div(style="min-height: 200px;") 
			.modal-footer.justify-content-center
				button#bt-close.btn.btn-primary(data-dismiss="modal") 닫기
