ul.pager.my-4.pagination.justify-content-center
	
	li.page-item.page-first.disabled(data-page="0", style="cursor: pointer;")
		span.page-link
			i.fas.fa-angle-double-left
	li.page-item.page-prev.disabled(data-page="0", style="cursor: pointer;")
		span.page-link
			i.fas.fa-angle-left
	li.page-item.page-ct.active(data-page="1", style="cursor: pointer;")
		span.page-link 1
	li.page-item.page-ct(data-page="2", style="cursor: pointer;")
		span.page-link 2
	li.page-item.page-next(data-page="2", style="cursor: pointer;")
		span.page-link
			i.fas.fa-angle-right
	li.page-item.page-last.disabled(data-page="0", style="cursor: pointer;")
		span.page-link
			i.fas.fa-angle-double-right