doctype html
html(lang="ko")
	head
		include ./inc/header.pug
	body
		include ./inc/navi.pug
		.container.my-3
			.jumbotron
				h2= `${title}`
			form(action="/gbook_save" method="post" name="gForm" onsubmit="return onSend(this);" enctype="multipart/form-data")
				ul.row.py-1
					li.col-md-2
						.text-primary 작성자
					li.col-md-10
						input.form-control(type="text" name="writer" placeholder="작성자") 
				ul.row.py-1
					li.col-md-2
						.text-primary 비밀번호
					li.col-md-10
						input.form-control(type="password" name="pw") 
				ul.row.py-1
					li.col-md-2
						.text-primary 남기실 말 
					li.col-md-10
						textarea.form-control(name="comment" style="height: 100px") 
				ul.row.py-1
					li.col-md-2
						.text-primary 첨부파일 
					li.col-md-10
						input.form-control-file(name="upfile" type="file") 
				div.border-top.my-3.p-3.text-center
					button.btn.btn-primary(type="submit") 저장
					button.btn.btn-danger(type="reset") 다시작성
		include ./inc/footer.pug
		include ./inc/script.pug