doctype html
html(lang="ko")
	head
		include ./inc/header.pug
	body
		include ./inc/navi.pug
		.container
			.jumbotron= `${page} 페이지 입니다.`
			.my-3.p-3.text-center.f-2 PUG로 작성된 페이지 입니다.
		include ./inc/footer.pug
		include ./inc/script.pug